ale-py==0.11.2
alembic==1.17.0
beautifulsoup4==4.14.2
catboost==1.2.8
ccxt==4.5.11
curl_cffi==0.13.0
dynaconf==3.2.12
evidently==0.7.15
Faker==37.12.0
filterpy==1.4.5
graphviz==0.21
gymnasium==1.2.2
h5py==3.15.1
hmmlearn==0.3.3
httpx==0.28.1
ImageIO==2.37.2
keras==3.12.0
lightgbm==4.6.0
litestar==2.18.0
litestar-htmx==0.5.0
matplotlib==3.10.7
mlforecast==1.0.2
moviepy==2.2.1
networkx==3.3
nltk==3.9.2
numba==0.62.1
numpy==2.1.2
opencv-python==4.12.0.88
optuna==4.5.0
pandas==2.3.3
peewee==3.18.2
pillow==11.3.0
plotly==5.24.1
polyfactory==2.22.3
POT==0.9.6.post1
pyarrow==22.0.0
pydantic==2.12.4
pygame==2.6.1
python-dotenv==1.2.1
PyWavelets==1.8.0
requests==2.32.5
rich==14.2.0
rich-click==1.9.4
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
shap==0.49.1
skforecast==0.18.0
sktime==0.39.0
SQLAlchemy==2.0.44
stable_baselines3==2.7.0
statsmodels==0.14.5
sympy==1.14.0
TA-Lib==0.6.7
tensorboard==2.20.0
torch==2.9.0+cu128
torchaudio==2.9.0+cu128
torchsummary==1.5.1
torchvision==0.24.0+cu128
tqdm==4.67.1
typer==0.20.0
ujson==5.11.0
uvicorn==0.38.0
vmdpy==0.2
watchdog==6.0.0
yfinance==0.2.66
streamlit
minepy
pandas_datareader